* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #999;
}

.tasks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add-tasks input {
    margin-top: 15px;
    padding: 10px;
    outline: none;
}

.task {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #eee;
    font-size: 20px;
}

.pinned input, .all-tasks input {
    width: 20px;
    height: 20px;
}

.error {
    margin-top: 7px;
    color: red;
    font-size: 20px;
}

.hidden {
    display: none;
}